.Login {
  align-items: center;
  background: url(https://d2mpqlmtgl1znu.cloudfront.net/AcuCustom/Sitename/DAM/015/IoT_devices_Adobe.jpg);
  background-blend-mode: overlay;
  background-color: rgb(0, 0, 0, 0.35);
  background-position: center;
  background-size: cover;
  display: flex;
  height: calc(100vh - 56px - 52px);
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100vw;
}
